.hero-header {
  width: 100%;
  position: relative;
  padding: 0 10%;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .hero-content {
    width: 80%;
    display: flex;
    justify-content: space-between;

    .hero-text {
      width: -webkit-fill-available;
      text-transform: capitalize;
      font-size: 64px;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
      color: #3d3121;
    }

  }

  &.small {
    height: 50vh;
  }

  &.large {
    height: 90vh;
  }

  img {
    // max-width: 50%;
    // max-height: 100%;
    height: 80%;
    object-fit: contain;
    position: absolute;
    right: 0;
    top: 0;
  }


}

@media (max-width: 768px) {
  .hero-header {
    align-items: flex-end;
    margin-bottom: 5rem;

    img {
      max-height: 75%;
      height: auto;
      max-width: 100%;
    }

    .hero-content {
      width: auto;
      flex-direction: column-reverse;

      .hero-text {
        font-size: 48px;

        &.spacer {
          display: none;
          visibility: hidden;
          width: 0;
        }
      }

    }
  }
}